.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
codestate-ui/node_modules/**
codestate-ui/src/**
codestate-ui/package.json
codestate-ui/package-lock.json
codestate-ui/tsconfig.*
codestate-ui/index.html
codestate-ui/README.md
codestate-ui/public/**
